tr {
    display: block;
}

th, td {
    width: 300px;
}

th {
    text-align: center;
}

tr {
    border-bottom: 1px solid #ecf0f1;
    border-left: 1px solid #ecf0f1;
    border-right: 1px solid #ecf0f1;
}

#table-section, #filters-section {
    margin-top: 15px;
}

#buttons-section {
    margin-top: 25px;
}

button {
    width: 202px;
}

#main-tbody {
    display: block;
    height: 400px;
    overflow: auto;
}

::-webkit-input-placeholder {
    text-align: center;
}

:-moz-placeholder {
    text-align: center;
}

::-moz-placeholder {
    text-align: center;
}

:-ms-input-placeholder {
    text-align: center;
}