<div class="container">
    <div class="row" id="buttons-section">
        <div class="col-md-6 col-md-offset-3">
            <button ng-click="refresh()" class="btn btn-primary btn-default">Download exchange rates</button>
            <button ng-click="download()" class="btn btn-primary btn-default" id="download-button">Download Excel
            </button>
        </div>
    </div>
    <div class="row" id="filters-section">
        <div class="col-md-6 col-md-offset-3">
            <div class="form-inline">
                <div class="form-group">
                    <ng-datepicker ng-model="startDate"></ng-datepicker>
                </div>
                <div class="form-group">
                    <ng-datepicker ng-model="endDate"></ng-datepicker>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="table-section">
        <div class="col-md-6">
            <table>
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Exchange rate</th>
                </tr>
                </thead>
                <tbody id="main-tbody">
                <tr ng-repeat="mid in mids">
                    <td>
                        <table>
                            <tr ng-repeat="date in effectiveDates[$index]">
                                <td>
                                    {{date}}
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td>
                        {{mid}}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <canvas id="ratesChart" width="600" height="400"></canvas>
        </div>
    </div>
</div>
